@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&family=Open+Sans:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --os-font: "Open Sans", sans-serif;
  --ms-font: "Montserrat", serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
  body {
    font-size: 18px;
    line-height: 24px;
    font-family: var(--base-font);
  }

  .OS-60 {
    font-family: var(--os-font);
    font-size: 60px;
  }
  .OS-36 {
    font-family: var(--os-font);
    font-size: 36px;
  }
  .OS-24 {
    font-family: var(--os-font);
    font-size: 24px;
  }
  .OS-20 {
    font-family: var(--os-font);
    font-size: 20px;
  }
  .clipPolygon {
    clip-path: polygon(10% 0, 90% 0, 100% 100%, 0 100%);
  }
}

@layer components {
  .hero-div {
    @apply h-[58px] px-6 flex justify-between items-center;
  }
}
